<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>The Weather</p>
    <div>
        <img src="" alt="">
        <div>
            <span id = "location">

            </span>
            <span id = "temp">

            </span>
            <span id = "datetime">

            </span>
        </div>
    </div>
    <script src="static\js\weather.js">
    </script>
</body>
</html>